/* Global CSS */

:root {
  --color-primary: #ffffff;
  --color-secondary: #00ff88;
  --color-light: #ffffffc2;
  --bg-primary: #1a0b2e;
  --bg-secondary: #230e3d;
  --bg-card: #35116566;
  --gradient-color: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}
section {
  padding-block: 80px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 16px;
}

.section-title {
  font-size: 48px;
  color: var(--color-primary);
  margin-bottom: 32px;
  text-align: center;
}
.card-title {
  color: var(--color-primary);
  font-size: 24px;
}
.text-muted {
  font-size: 16px;
  color: var(--color-light);
}

.btn-primary {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: var(--gradient-color);
  color: var(--color-primary);
}

.btn-outline {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* Header Styles */
header {
  background-color: var(--bg-primary);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}
.navbar h2 {
  font-size: 32px;
  color: var(--color-primary);
}
.navbar h2 span {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  font-size: 16px;
  color: var(--color-primary);
}

.hamburger-menu {
  display: none;
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/* Banner Styles */
#banner {
  padding-block: 80px;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-circle {
  width: 23%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  background: url("./assets/hero-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-circle img {
  width: 50%;
}
.banner-badge {
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: var(--color-secondary);
  padding: 8px 16px;
  border-radius: 50px;
  text-transform: uppercase;
  color: black;
}

.banner-content {
  text-align: center;
  margin-top: 40px;
  margin-inline: 16px;
}
.banner-content h2 {
  font-size: 60px;
  margin-bottom: 24px;
}
.banner-button-group {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* About Styles */
#about {
  background-color: var(--bg-primary);
}
.about-container {
}
.about-heading {
  text-align: center;
  max-width: 850px;
  margin-inline: auto;
}

.about-heading p:last-child {
  margin-top: 32px;
}

.about-card-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.about-card h2 {
  font-size: 48px;
  color: var(--color-secondary);
}
.about-card p {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-light);
}
.about-container hr {
  margin-block: 80px;
  border: none;
  border-top: 1px solid var(--color-light);
  opacity: 0.1;
}

/* Why Choose TechWave Styles */

#why-us {
  background-color: var(--bg-secondary);
}

.why-us-container {
}

.why-us-card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.why-us-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  padding: 32px;
  border-radius: 40px;
  background-color: var(--bg-card);
}
.why-us-card:nth-child(1) {
  grid-row: span 2;
}
.why-us-card:nth-child(2),
.why-us-card:nth-child(3),
.why-us-card:nth-child(4) {
  grid-column: span 2;
}

.why-us-card img {
}

.why-us-card p {
}

/* Featured Styles */
#featured {
  background-color: var(--bg-primary);
}
.featured-container {
}

.featured-card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.featured-card {
  background-color: var(--bg-card);
  border-radius: 24px;
  overflow: hidden;
}
.featured-card iframe {
  width: 100%;
  aspect-ratio: 1/0.6;
  border: none;
}
.featured-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px;
}
.featured-card-content h6 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-secondary);
  font-size: 14px;
}

/* Host Styles */
#host {
  background-color: var(--bg-primary);
}
.host-card {
  background-color: var(--bg-card);
  border-radius: 40px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.host-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}
.host-socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.host-socials li {
  list-style: none;
  border: 1px solid #533c72;
  padding: 10px;
  line-height: 0;
  border-radius: 50%;
}
.host-socials li a {
  display: inline-block;
  line-height: 0;
}
.host-socials li a img {
}
/* Responsive Screens */
@media screen and (max-width: 992px) {
  .banner-circle {
    margin-bottom: -25px;
    bottom: 25px;
  }
  .banner-badge {
    top: 5%;
    right: -12%;
  }
  .about-card-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .why-us-card-group {
    grid-template-columns: 1fr;
  }
  .why-us-card:nth-child(1),
  .why-us-card:nth-child(2),
  .why-us-card:nth-child(3),
  .why-us-card:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
  .featured-card-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  section {
    padding-block: 60px;
  }

  .nav-links {
    display: none;
  }
  .navbar .btn-primary {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #banner {
    background-size: 120%;
    background-position-y: 100px;
  }
  .banner-circle {
    width: 50%;
  }
  .banner-badge {
    top: 4%;
    right: -2%;
  }
  .about-container hr {
    margin-block: 40px;
  }
  .host-card {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  .host-info {
    align-items: center;
    text-align: center;
  }
}
